<%-include('../user/layout/userhead.ejs') -%>

<div class="page-holder">
  <div class="container">
    <!-- HERO SECTION-->
    <section class="py-5 bg-light">
      <div class="container">
        <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
          <div class="col-lg-6">
            <h1 class="h2 text-uppercase mb-0">changepassword</h1>
          </div>
          <div class="col-lg-6 text-lg-end">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb justify-content-lg-end mb-0 px-0 bg-light">
                <li class="breadcrumb-item"><a class="text-dark" href="/">Home</a></li>
                <li class="breadcrumb-item"><a class="text-dark" href="/account">Account</a></li>
                <li class="breadcrumb-item active" aria-current="page">changepassword</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <div class="page-content">
      <div class="widget-content widget-content-area add-manage-product-2 container mt-3">
        <div class="row ">
          <div class="otp bg-light">

            <div class="d-flex justify-content-center align-items-center" style="height: 73vh;">
              <div class="bg-light border border-dark  rounded-3 border-3 " style="height: 45vh; width: 80vh;">
                <div class="d-flex flex-column justify-content-lg-start align-items-center mt-5" style="height: 50vh;">
                  <div class="mb-5">
                    <h4 class="text-decoration-underline text-danger">Change Password</h4>
                  </div>
                  <div class="input-group mb-3 text-center">
                    <label class="col-md-4">Old password</label>
                    <span class="input-group-text">
                      <i class="bi bi-key"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Enter old password" id="value1" aria-describedby="button-addon2">
                    <button class="btn-sm btn-dark me-4" type="button" id="button-addon1" onclick="changepass(1)"><small>Enter</small></button>
                  </div>
                  <p id="res"></p>
                  <div class="input-group mb-3 text-center">
                    <label class="col-md-4">New password</label>
                    <span class="input-group-text">
                      <i class="bi bi-key"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Enter new password" id="value2" aria-describedby="button-addon2" disabled>
                    <button class="btn-sm btn-dark me-4" type="button" id="button-addon2" onclick="changepass(2)" disabled><small>Enter</small></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function changepass(num) {
      $.ajax({
        type: "POST",
        url: "/changepass",
        data: {
          key: $("#value" + num).val(),
          num,
        },
        dataType: "json",
        encode: true,
      }).done(function(data) {
        if (data.success == true) {
          resHTML =
            '<span class="text-success text-center">' + data.message + '</span>'
          $("#res").html(resHTML);
          $("#value2").removeAttr('disabled');
          $("#button-addon2").removeAttr('disabled');
        } else if (data == 'Success') {
          Swal.fire({
            icon: "success",
            title: "Password Updated Successfully",
            text: "Good job!",
            timer: 2000,
          });
          setTimeout(() => {
            location.href = '/account'
          }, 2000);
        } else {
          resHTML =
            '<span class="text-danger text-center">' + data.message + '</span>'
          $("#res").html(resHTML);
        }
      });
    }
  </script>
  <script>
    setTimeout(() => {
      document.getElementById("res").innerHTML = " ";
    }, 3000);
  </script>

  <%-include('../user/layout/userfooter.ejs') -%>