<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TIMEX</title>
 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap">
  
  <link rel="stylesheet" href="/css/style.css">
  <!-- gLightbox gallery -->
  <link rel="stylesheet" href="/vendor/glightbox/css/glightbox.min.css">
  <!-- Range slider -->
  <link rel="stylesheet" href="/vendor/nouislider/nouislider.min.css">
  <!-- Choices CSS -->
  <link rel="stylesheet" href="/vendor/choices.js/public/assets/styles/choices.min.css">
  <!-- Swiper slider -->
  <link rel="stylesheet" href="/vendor/swiper/swiper-bundle.min.css">
  <!-- Google fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&amp;display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;800&amp;display=swap">
  <!-- theme stylesheet -->
  <link rel="stylesheet" href="/css/user/style.default.css" id="theme-stylesheet">
  <!-- bootstrap icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/svg img/logo.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>

  <!-- navbar-->
  <header class="header bg-white">
    <div class="container px-lg-3">
      <nav class="navbar navbar-expand-lg navbar-light py-3 px-lg-0"><a class="navbar-brand" href="/">
          <h1 class="mt-3"><span style="color: red;">T</span>IME <span class="Timehead">X</span></h1>
        </a>
        <button class="navbar-toggler navbar-toggler-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <!-- Link--><a class="nav-link <% if(page=='Home'){ %> active <% } %>" href="/">Home</a>
            </li>
            <li class="nav-item">
              <!-- Link--><a class="nav-link <% if(page=='Shop'){ %> active <% } %>" href="/shop">Shop</a>
            </li>
            <li class="nav-item">
              <!-- Link--><a class="nav-link <% if(page=='About'){ %> active <% } %>" href="/about">About</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">

            <li class="nav-item "><a class="nav-link <% if(page=='cart'){ %> active <% } %>" href="/cart"> <i class="bi bi-cart"></i> Cart <span id="CartLength" class=" translate-middle badge rounded-pill text-danger">
                </span><small class="text-gray fw-normal"></small></a></li>
            <li class="nav-item"><a class="nav-link <% if(page=='wishlist'){ %> active <% } %>" href="/wishlist"><i class="fas fa-heart fa-x text-danger"></i><small class="text-gray fw-normal"></small>Wishlist<span id="wishlist" class=" translate-middle badge rounded-pill text-danger">
                </span></a></li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle <% if(page=='Account'){ %> active <% } %>" id="pagesDropdown" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-person"></i> Account</a>
              <div class="dropdown-menu mt-3 shadow-sm" aria-labelledby="pagesDropdown">
                <% if(user){ %>

                <a class="dropdown-item border-0 transition-link" href="/account"><%= user.userName %></a>
                <a class="dropdown-item border-0 transition-link" href="/userlogout">LogOut</a>
                <% }else{ %>
                <a class="dropdown-item border-0 transition-link" href="/login">Login</a>
                <% } %>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
